apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: wvdy
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: wvdy
    app.kubernetes.io/part-of: byoc-app-owpa
  name: wvdy
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: wvdy
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: wvdy
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-xfja-tenant/byoc-app-owpa/wvdy@sha256:b58c8a620940e8813ecb74ff1e05cf575f8b58ff3548623f96ec5b94945c787e
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
